#experience {
    background-color: #f9f9f9;
    padding: 2rem 0;
}

.section-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#experience h2 {
    margin-bottom: 1rem;
}

.experience-item {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    text-align: left;
}

.experience-item h3 {
    margin-top: 0;
}
